*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/mipmap-xhdpi/ic_launcher.png
*.png
build.gradle
gradle.properties
*.gradle
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
app/src/test/java/com/wc/giona/weathercompare/ExampleUnitTest.java
app/src/main/res/layout/activity_main.xml
app/src/androidTest/java/com/wc/giona/weathercompare/ExampleInstrumentedTest.java
app/proguard-rules.pro
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/gradle.xml
.idea/modules.xml
.idea/misc.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
